language: python

python:
  - 2.7

before_install:
  - sudo service postgresql stop

install:
  - pip install ansible

script:
  # note that without a sudo command travis will execute the script in a non sudo enabled environment which will cause the ansible script to fail
  - ansible-playbook -i ansible/travis_inventory ansible/dev.yml --connection=local -e "travis_build_dir=$TRAVIS_BUILD_DIR"
  - bash -i ./run-tests.sh  # source .bashrc before executing tests