atlas
awscli
boto
boto3
dockerflow
expiringdict
flask
flask-cors
flask-cache
flask-sslify
gevent
gunicorn
idna
joblib
matplotlib
newrelic
nose
numpy
pandas>=0.15.2
psycogreen
psycopg2
pycrypto
pyspark
pytest
python-dateutil
python_moztelemetry
redis
requests
requests[security]
requests-toolbelt
scipy
supervisor
tornado
ujson
