- name: deploy database service
  remote_user: ubuntu
  hosts: service

  pre_tasks:
    - name: install packages
      sudo: yes
      apt: name={{item}} state=installed update_cache=yes cache_valid_time=3600
      with_items:
        - libpq-dev
        - liblzma-dev
        - libsnappy-dev
        - supervisor
        - gcc
        - g++
        - awscli
        - redis-server

    - name: start supervisord service and have it run during system startup
      sudo: yes
      service: name=supervisor state=started enabled=yes

  roles:
    - dotfiles 
    - anaconda

  post_tasks:
    - name: install db service
      command: "{{ansible_env.HOME}}/miniconda/bin/pip install python_mozaggregator --upgrade"
      notify:
        - restart supervisor

    - name: setup service
      sudo: yes
      template: src=templates/mozaggregator_service.j2 dest=/etc/supervisor/conf.d/mozaggregator.conf

    - name: restart supervisor
      sudo: yes
      command: service supervisor restart

    - name: start service
      sudo: yes
      supervisorctl: name=mozaggregator_service state=started
